<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
  <title>Мем</title>
  <style>
    button {
      background-color: #61CDFB;
    }
  </style>
</head>
<body>
  <div class="header">

    <div class="header-line">
      
      <img src="static\img\Rectangle 1.png" alt="">
      <div class="header-title">
        ТИМА НЕИМОВЕРНЫХ ЕБАНТЯЕВ
      </div>
   
    </div>
   
    <div class="header-down">
      <img src="static\img\Rectangle 3.png" alt="">
      <img src="static\img\Rectangle 3.png" alt="">
      <img src="static\img\Rectangle 3.png" alt="">
      <img src="static\img\Rectangle 3.png" alt="">
      <img src="static\img\Rectangle 3.png" alt="">
    </div>

      <div class="ava">
        <img src="static\img\Panov1.png" alt="">
      </div>

      <div class="ava2">
        <img src="static\img\German.png" alt="">
      </div>

      <div class="ava3">
        <img src="static\img\Maksik3.png" alt="">
      </div>

      <div class="ava4">
        <img src="static\img\Artemich.png" alt="">
      </div>
      <div class="ava5">
      <img src="static\img\image.png" alt="">
      </div>
      
      
      <div class="text-1">
          Панов помойся <br> 
          Нейронщик 
      </div>
      <div class="text-2">
        Сенсей Герман <br>
        КМС по питону
      </div>
      <div class="text-3">
        Макс Максбетов <br>
        Робототехник
      </div>
      <div class="text-4">
        Сафиул <br>
        Довёл до слёз<br>
        своими видосами 
      </div>
      <div class="text-5">
        Равиль Пиздец <br> Верстальщик, и даже калькулятор не спиздил
      </div>
      <div class="back">
        <form action="/" method="get">
          <button class="back" type="submit">назад</button>
        </form>
      </div>  
    </div>
</body>
</html>