body {
    margin: 0;
    padding: 0;
    background-color: #313131;
}

header, footer {
    font-family: 'VAG World';
    background-color: #232323;
    color: white;
    height: 100px;
    padding: 0px 0px;
}

.logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 75px;
    height: 75px;
}

.up {
    position: absolute;
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 100px;
    height: 55px;
    width: 1600px;
}

.block_up {
    margin-left: 100px;
    margin-top: 15px;
    position: relative; /* Добавляем позиционирование относительно */
}

.search-container {
    display: inline-block;
    vertical-align: middle; /* Выравниваем вертикально по центру */
}

.market-button, .help-button {
    font-family: 'VAG World';
    background: linear-gradient(90deg, rgba(255, 45, 45, 0.75) 0%, rgba(242, 91, 91, 0.75) 100%);
    color: white;
    border-radius: 15px;
    padding: 0px 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 25px;
    margin-right: 25px;
}

.search-button {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'VAG World';
    background-color: #313131;
    color: #989898;
    padding: 0px 15px;
    border: none;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    margin-left: 50px;
    width: 430px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

.knopka {
    position: absolute;
    left: 915px;
    margin-top: 7px;
    background-color: #232323;
    font-family: 'VAG World';
    border-radius: 10px;
    padding: 0px 5px;
    color: white;
    border: none;
}

.help-button {
    font-family: 'VAG World';
    background: linear-gradient(90deg, rgba(92, 194, 33, 0.75) 0%, rgba(72, 190, 108, 0.75) 100%);
    color: white;
    border-radius: 15px;
    padding: 0px 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 75px; /* Уменьшаем отступ слева */
}


.login {
    text-align: center;
    line-height: 1.5;
    position: absolute;
    margin-right: 25px;
    right: 0px;
    top: 0px;
}

.ava {
    position: absolute;
    top: 0px;
    left: 1600px;
    width: 75px;
    height: 75px;
}

.market-button:hover {
    background-color: #ff7167;
}
.title{
    text-align: center;
}
main{
    font-family: 'VAG World';
    background-color: #232323;
    color: white;
    height: 500px;
    padding: 0px 15px;
    border: none;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    margin-left: 200px;
    cursor: auto;
    width: 1500px;
}

.block_1{
    background-color: #313131;
    font-family: 'VAG World';
    color: white;
    padding: 0px 15px;
    border: none;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
}
.str_1 {
    display: flex;
}
.price {
    position:absolute;
    float: right;
    right: 0px;
    margin-right: 200px; /* Устанавливаем отступ между элементами в 100 пикселей */
  }

  .status{
    position:relative;
    float: right;
    right: 0px;
    margin-left: 20px; /* Устанавливаем отступ между элементами в 100 пикселей */
 }

 .buy_button{
    position:absolute;
    height: 35px;
    right: 170px;
    margin-top: 20px;
 }