body {
    margin: 0px;
}


.header {
    background-image: url(anogus.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header-line {
    padding-top: 45px;
    
    position: relative;
    display: flex;
    justify-content: center;
    
}

.header-title {
    position: absolute;
    padding-top: 60px;
    font-size: 36px;
    font-family: "JetBrains Mono" ;
    color: #FFFFFF;
    font-weight: 400;
}


.header-down {
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
    position: relative;
    
}



.ava {
    position: absolute;
    left: 5px;
    margin-top: -521px;
    padding-left: 5px;
}

.ava2 {
    position: absolute;
    left: 5px;
    margin-top: -521px;
    padding-left: 379px;
}

.ava3 {
    position: absolute;
    left: 5px;
    margin-top: -521px;
    padding-left: 752px;
    
}

.ava4 {
    position: absolute;
    left: 5px;
    margin-top: -520px;
    padding-left: 1127px;
}

.ava5 {
    position: absolute;
    left: 5px;
    margin-top: -521px;
    padding-left: 1499px;

}



.text-1 {
    position: absolute;
    margin-top: -120px;
    left: 50px;
    font-weight: 400;
    font-size: 36px;
    font-family: "JetBrains Mono" ;
    color: #FFFFFF;
    text-align: center;
}

.text-2 {
    position: absolute;
    margin-top: -120px;
    left: 420px;
    font-weight: 400;
    font-size: 36px;
    font-family: "JetBrains Mono" ;
    color: #FFFFFF;
    text-align: center;
}

.text-3 {
    position: absolute;
    margin-top: -120px;
    left: 780px;
    font-weight: 400;
    font-size: 36px;
    font-family: "JetBrains Mono" ;
    color: #FFFFFF;
    text-align: center;
}

.text-4 {
    position: absolute;
    margin-top: -130px;
    left: 1170px;
    font-weight: 400;
    font-size: 32px;
    font-family: "JetBrains Mono" ;
    color: #FFFFFF;
    text-align: center;
}

.text-5 {
    position: absolute;
    margin-top: -130px;
    left: 1500px;
    font-weight: 400;
    font-size: 25px;
    font-family: "JetBrains Mono" ;
    color: #FFFFFF;
    text-align: center;
}

.back {
    border: none;
    border-radius: 10px;
    font-size: medium;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 20px;
    color: white

}