.title{
    font-family: 'Gang of Three[RUS by Daymarius]';
    background-color: #313131;
    color: #989898;
    padding: 0px 15px;
    border: none;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    margin-left: 25px;
    width: 700px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: inline-block; /* или inline */
    height: 40px;
    line-height: 40px
}