@font-face {
    font-family: 'Gang of Three[RUS by Daymarius]';
    src: url('../fonts/font.woff2') format('woff2'),
         url('../fonts/font.woff') format('woff');
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('back.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background-color: #232323;
    color: white;
    height: 100px;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #232323;
    color: white;
    padding: 0;
    z-index: 5;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
}

.up {
    font-family: 'Gang of Three[RUS by Daymarius]';
    position: relative;
    margin: 15px 7%;
    width: 86%;
    display: flex;
}

.block_up {
    margin-left: 100px;
    margin-top: 15px;
    position: relative;
}

.search-container {
    display: inline-block;
    vertical-align: middle;
}

.button, .button_up, .search-button {
    font-family: 'Gang of Three[RUS by Daymarius]';
    display: inline-flex;
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    text-decoration: none;
}

.button, .button_up {
    background: linear-gradient(90deg, rgba(255, 45, 45, 0.75) 0%, rgba(242, 91, 91, 0.75) 100%);
    margin: 10px 15px;
    padding: 0 5px;
}

.search-button {
    background-color: #313131;
    color: #989898;
    padding: 0 15px;
    margin: 10px 25px;
    width: calc(25% - 50px);
}

.knopka {
    position: absolute;
    left: calc(50% - 50px);
    top: 7px;
    background-color: #232323;
    font-family: 'VAG World';
    border-radius: 10px;
    padding: 0px 5px;
    color: white;
    border: none;
}

.login {
    font-family: 'Gang of Three[RUS by Daymarius]';
    text-align: center;
    line-height: 1.5;
    position: absolute;
    right: 25px;
    top: 15px;
    letter-spacing: 1px;
    color: white;
    background-color: #232323;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.ava {
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 75px;
}

.market-button:hover {
    background-color: #ff7167;
}

.title {
    text-align: center;
    line-height: 20px;
    padding-bottom: 10px;
    top: 15px;
}

main {
    font-family: 'Gang of Three[RUS by Daymarius]';
    background-color: rgba(35, 35, 35, 0.95);
    color: white;
    padding: 0 15px;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
    border: 2px solid #989898;
    position: relative;
    top: 125px;
}

.block {
    background-color: #313131;
    font-family: 'Gang of Three[RUS by Daymarius]';
    color: white;
    padding: 0 15px;
    border: none;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 50px;
    border: 2px solid #989898;
}

.str_1 {
    display: flex;
    flex-direction: row;
    letter-spacing: 1px;
}

.price {
    margin-left: auto;
    margin-right: 15px;
    text-align: right;
    letter-spacing: 1px;
}

.buy_button {
    position: absolute;
    display: flex;
    height: 35px;
    width: auto;
    margin-left: calc(50% - 50px);
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.date {
    margin-left: 20px;
}

.lmenu {
    font-family: 'Gang of Three[RUS by Daymarius]';
    position: fixed;
    background-color: rgba(35, 35, 35, 0.95);
    color: white;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
    margin-top: 25%;
    padding: 5px 0;
    border: 2px solid #989898;
}

.button_lmenu {
    width: 275px;
}

.flash {
    position: fixed;
    left: 20%;
    right: 20%;
    color: white;
    padding: 15px;
    font-family: 'Gang of Three[RUS by Daymarius]';
    background: linear-gradient(90deg, rgba(92, 194, 33, 0.75) 0%, rgba(72, 190, 108, 0.75) 100%);
    font-size: 50px;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    line-height: 50px;
    letter-spacing: 1px;
    margin-top: -5%;
    z-index: 9;
}

.str {
    display: flex;
    flex-direction: row;
    letter-spacing: 1px;
    padding-top: 5px;
}

.profile {
    display: flex;
    padding: 10px;
    margin: 5px 0 10px;
    line-height: 20px;
    text-align: center;
    align-items: center;
}

.block_reg, .block_error {
    font-family: 'Gang of Three[RUS by Daymarius]';
    background-color: rgba(35, 35, 35, 0.95);
    text-align: center;
    color: #989898;
    margin-top: 200px;
    width: 500px;
    font-size: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 2px solid #989898;
    border-radius: 15px;
}

.label {
    background-color: #313131;
    color: #989898;
    padding: 0 15px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    margin: 5px 25px;
    width: calc(50% - 50px);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.button_container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

input, textarea {
    font-family: 'Arial';
}

.home_button {
    text-align: center;
}