@font-face {
    font-family: 'Gang of Three[RUS by Daymarius]';
    src: url('../fonts/font.woff2') format('woff2'),
         url('../fonts/font.woff') format('woff');
    /* Дополнительные настройки, такие как начертание и жирность, могут быть добавлены здесь */
}

form {
    display: inline-block; /* или inline */
}

body{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачный черный цвет фона */
    background-image: url('back.png'); /* Замените 'your-image-url.jpg' на путь к вашему изображению */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    background-color: #232323;
    color: white;
    height: 100px;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* чтобы растянуть header по всей ширине экрана */
    z-index: 5; /* Устанавливаем очень высокий z-index */
}


.logo {
    position: fixed;
    margin-left: -130%;
    width: 75px;
    height: 75px;
}

.up {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;   
}
.up form {
    margin-right: 3%; /* Примерное значение, которое можно настроить */
}

.button{
    font-family: 'Gang of Three[RUS by Daymarius]';
    display: inline-flex;
    background: linear-gradient(90deg, rgba(255, 45, 45, 0.75) 0%, rgba(242, 91, 91, 0.75) 100%);
    color: white;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0px;
    flex-direction: column;
    padding: 0px 5px;
    text-decoration: none;
    width: auto;
    white-space: nowrap;
}

.search-button {
    font-family: 'Gang of Three[RUS by Daymarius]';
    position: relative;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    border: none;
    width: 450px;
    padding: 0px 15px;
    background-color: #313131;
    color: #989898;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.help{
    background: linear-gradient(90deg, rgba(92, 194, 33, 0.75) 0%, rgba(72, 190, 108, 0.75) 100%);
}
.basket{
    background: linear-gradient(90deg, rgba(255, 251, 35, 0.76) 0%, rgba(231, 195, 35, 0.75) 100%);
}

.login {
    font-family: 'Gang of Three[RUS by Daymarius]';
    text-align: center;
    line-height: 1.5;
    position: fixed;
    margin-right: 8.5%;
    margin-top: -20px;
    letter-spacing: 1px;
    color: white;
    background-color: #232323;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.ava {
    position: fixed;
    margin-left: 130%;
    width: 75px;
    height: 75px;
}


















































.lmenu{
    font-family: 'Gang of Three[RUS by Daymarius]';
    float: left;
    position: fixed;
    background-color: rgba(35, 35, 35, 0.95); /* Цвет #232323 с 50% прозрачности */
    color: white;
    border: none;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6%;
    margin-top: 125px;
    padding: 5px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Изменено с 'center' на 'flex-start' */
    border: 2px solid #989898;
}

.button_lmenu{
    width: 100%;
    min-width: 275px;
    margin: 1%;
    padding-right: 1%;
}
.title{
    font-family: 'Gang of Three[RUS by Daymarius]';
    text-align: center;
    padding-top: 20px;
}






































main{
    font-family: 'Gang of Three[RUS by Daymarius]';
    background-color: rgba(35, 35, 35, 0.95); /* Цвет #232323 с 50% прозрачности */
    color: white;
    height: auto;
    padding: 0px 15px;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    margin-left: 23%;
    width: 69%;
    padding-bottom:100px ;
    border: 2px solid #989898;
    position: relative;
    top: 125px;
}

.block{
    background-color: #313131;
    font-family: 'Gang of Three[RUS by Daymarius]';
    color: white;
    padding: 0px 15px;
    border: none;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 50px;
    border: 2px solid #989898;
}
.str {
    display: flex;
    flex-direction: row;
    letter-spacing: 1px;

}


.buy_button{
    float:right;
    display: flex; /* Делаем контейнер блока flex-контейнером */
    margin-right: 1%;
    text-align: right;
    letter-spacing: 1px;
    margin-top: -4%;
}


.price {
    margin-left: auto;
    margin-right: 15px;
    text-align: right;
    letter-spacing: 1px;
}






 form {
    display: inline-block; /* или inline */
}

.date{
    margin-left: 20px;
}