<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Цифровой рынок аккаунтов</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="up">
            <img src="static\img\main\logo.png" class="logo" alt="Описание изображения">
            <div class="block_up">
                <button class="button_up">Маркет</button>
                <button class="button_up">Торговая площадка</button>
                <form action="/search" method="POST" class="search-container">
                    <input type="text" name="query" placeholder="Введите запрос" class="search-button">
                </form>
                <form action="/help" method="post">
                    <button class="help button_up">Техническая поддержка</button>
                </form>
                <form action="/basket" method="post">
                    <button class="button_up basket">Корзина</button>
                </form>
            </div>
            <p class="login">{{login}}<br>{{balance}}$</p>
            <img src="static\img\main\ava.png" class="ava" alt="Описание изображения">
        </div>
    </header>
    <div class="block_reg"><p><h1>Регистрация</h1></p>
        <div class="list" >
            <form method="POST" action="/create-user">
                <input type="text" name="login" placeholder="login" class="label"><br>
                <input type="text" name="email" placeholder="email" class="label"><br>
                <input type="text" name="password" placeholder="password"class="label"><br>
        </div>
        <div class="button_container">
            <input type="submit" class="button" value="Создать" action="/create-user">
                </form>
            <form action="/" method="post">
                <button class = "button" >home</button>
            </form>
        </div>
    </div>  
        <footer>
            <div class="foot">
                <h2 class="title">RedLine Market 2024</h2>
            </div>
        </footer>
</body>
</html>
