<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Цифровой рынок аккаунтов</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reg.css') }}">
</head>
<body>
    <div class="title"><p><h1>Создание пользователей</h1></p>
        <div class="list" >
            <form method="POST" action="/create-users">
                <input type="text" name="id" placeholder="id"class="label"><br>
                <input type="text" name="login" placeholder="login" class="label"><br>
                <input type="text" name="email" placeholder="email" class="label"><br>
                <input type="text" name="password" placeholder="password"class="label"><br>
                <input type="text" name="balance" placeholder="balance"class="label"><br>
        </div>
        <input type="submit" class="button" value="Создать" action="/create-users">
            </form>
        <form action="/" method="post">
            <button>home</button>
        </form>
    </div>  

</body>
</html>
