<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Цифровой рынок аккаунтов</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <div class="up">
            <img src="static\img\main\logo.png" class="logo" alt="Описание изображения">
            <div class="block_up">
                <button class="market-button">Маркет</button>
                <button class="market-button">Торговая площадка</button>
                <form action="/search" method="POST" class="search-container">
                    <input type="text" name="query" placeholder="Введите запрос" class="search-button">
                </form>
                <button class="help-button">Техническая поддержка</button>
            </div>
            <p class="login">{{login}}<br>{{balance}}$</p>
            <img src="static\img\main\ava.png" class="ava" alt="Описание изображения">
        </div>
    </header>

<main>
    <h2 class="title">Товары</h2>
    <div class="block_1"> 
        <div class="str_1">
            <p>{{description_bl1}}</p>
            <p class="price">{{price_bl1}}</p>
        </div>
        <div class="str_1">
            <p>{{seller_login}}</p>
            <p class="status">{{seller_status}}</p>
            <div class="buy_button">
                <button class="market-button">В корзину</button>
                <button class="market-button">Купить</button>
            </div>
        </div>    
    </div>
    <!-- Добавьте дополнительные секции аккаунтов здесь -->
</main>

<footer>
    <p>© 2024 Цифровой рынок аккаунтов</p>
</footer>

</body>
</html>
