<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Цифровой рынок аккаунтов</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
    <header>
        <div class="up">
            <img src="static\img\main\logo.png" class="logo" alt="Описание изображения">
            <div class="block_up">
                <button class="button_up">Маркет</button>
                <button class="button_up">Торговая площадка</button>
                <form action="/search" method="POST" class="search-container">
                    <input type="text" name="query" placeholder="Введите запрос" class="search-button">
                </form>
                <form action="/help" method="post">
                    <button class="help button_up">Техническая поддержка</button>
                </form>
                <form action="/basket" method="post">
                    <button class="button_up basket">Корзина</button>
                </form>
            </div>
            <p class="login">{{login}}<br>{{balance}}$</p>
            <img src="static\img\main\ava.png" class="ava" alt="Описание изображения">
        </div>
    </header>
<div class="lmenu main">
    <form action="/create-tovar-page" method="post">
        <button class="button button_lmenu">Добавить товар</button>
    </form>
    <form action="/create-user-page" method="post">
        <button class="button button_lmenu">Добавить пользователя</button>
    </form>
    <form action="/help" method="post">
        <button class="button button_lmenu">Пополнить баланс</button>
        <button class="button button_lmenu">Вывести средства</button>
    </form>



</div>
{% for msg in get_flashed_messages() %}
    <div class="flash">{{msg}}</div>
{% endfor %}

<main>
    <h2 class="title">Товары</h2>
    {% for el in tovars %}
        <div class="block"> 
        <div class="str_1">
            <p>{{el.description}}</p>
            <p class="price">{{el.price}} Р</p>
        </div>
        <div class="str_1">
            <p>{{el.login}}</p>
            <p class="date">Дата: {{el.date.date()}}</p>
            <form action="/help" method="post" class="buy_button">
                <button class="button">В корзину</button>
                <button class="button">Купить</button>
            </form>
        </div>
    </div>
    {% endfor %}
</main>

<footer>
    <div class="foot">
        <h2 class="title">Цифровой рынок 2024</h2>
    </div>
</footer>

</body>
</html>
