<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <title>КНОПОЧКИ</title>
    <style>
        .btn {
            width: 10em;
            height: 3em;
        }
    </style>
</head>
<body>
    <div class="container">
        <input type="text" name="" value="">
        <br>
        <p><button class="btn"></button></p>
        <br>
        <p><button class="btn"></button></p>

    </div>

    
    
</body>   
</html>