<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Цифровой рынок аккаунтов</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
    <header>
        <div class="up">
            <img src="static\img\main\logo.png" class="logo" alt="Описание изображения">
            <div class="block_up">
                <button class="button_up">Маркет</button>
                <button class="button_up">Торговая площадка</button>
                <form action="/search" method="POST" class="search-container">
                    <input type="text" name="query" placeholder="Введите запрос" class="search-button">
                </form>
                <form action="/help" method="post">
                    <button class="help button_up">Техническая поддержка</button>
                </form>
                <form action="/basket" method="post">
                    <button class="button_up basket">Корзина</button>
                </form>
            </div>
            <form action="/login" method="post">
                <a href="/login" class="login">{{username}}<br>{{balance}}</a>
            </form>
            <img src="static\img\main\ava.png" class="ava" alt="Описание изображения">
        </div>
    </header>
<div class="lmenu main">
    <form action="/create-tovar-page" method="post">
        <button class="button button_lmenu">Добавить товар</button>
    </form>
    <form action="/create-user-page" method="post">
        <button class="button button_lmenu">Добавить пользователя</button>
    </form>
    <form action="/help" method="post">
        <button class="button button_lmenu">Пополнить баланс</button>
        <button class="button button_lmenu">Вывести средства</button>
    </form>



</div>


<main>
    <h2 class="title">Товар</h2>
        <div class="block"> 
            <h1>{{ tovar.description }}</h1>
            <p>Цена: {{ tovar.price }} Р</p>
            <p>Дата: {{ tovar.date.date() }}</p>
            <p>Связь: {{ tovar.connect }}</p>
            <a href="/" class="button_buy button home_button">Главная</a>
            <div class="str_1">
                <p></p>
            </div>
        </div>
</main>

<!-- <footer>
    <div class="foot">
        <h2 class="title">RedLine Market 2024</h2>
    </div>
</footer> -->

</body>
</html>
